*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
    line-height:1.6;
}

header{
    text-align:center;
    padding:60px 20px;
    background:#1e293b;
}

header h1{
    font-size:42px;
    color:#38bdf8;
}

header p{
    margin-top:10px;
    color:#cbd5e1;
}

section{
    max-width:900px;
    margin:auto;
    padding:50px 20px;
}

h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.about p{
    color:#e2e8f0;
}

.contact a{
    display:inline-block;
    margin:10px;
    padding:12px 24px;
    background:#38bdf8;
    color:#000;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.contact a:hover{
    background:white;
}

footer{
    text-align:center;
    padding:30px;
    background:#1e293b;
    color:#94a3b8;
}