body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #00d4ff;
}

p {
    font-size: 18px;
}

button {
    background: #00d4ff;
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background: white;
    cursor: pointer;
}